git+https://github.com/RWTH-EBC/OpenDHW.git@main
git+https://github.com/RWTH-EBC/ebcpy.git@master
numpy==1.23.4
pandas>=1.4.1
openpyxl==3.0.10
matplotlib
pandapower==2.13.1
aixweather==0.1.4
git+https://github.com/RWTH-EBC/TEASER.git@development